<!DOCTYPE html>
<html>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<body>

  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <div id="myChart" style="width:100%; max-width:600px; height:500px;"></div>

    </div>

    <div class="col-lg-6 col-md-6 col-sm-6">
      <p>Current Price: {{ price }}</p>
      <p>ATH: {{ ath }}</p>
      <p>ATL: {{ atl }}</p>

    </div>
    
  </div>

<script>
google.charts.load('current',{packages:['corechart']});
google.charts.setOnLoadCallback(drawChart);

function drawChart() {
// Set Data
var data = google.visualization.arrayToDataTable([
  ['Date', 'Price'],
  {% for item in data %}
      ["{{ item.pub_date|date:"M d, Y" }}",{{ item.price }}],
  {% endfor %}

]);
// Set Options
var options = {
  title: 'IotexChart Price Data',
  hAxis: {title: 'Dates'},
  vAxis: {title: 'Price'},
  legend: 'none'
};
// Draw
var chart = new google.visualization.LineChart(document.getElementById('myChart'));
chart.draw(data, options);
}
</script>

</body>
</html>



