{% extends "main/base.html" %}

{% load static %}

{% block content %}

 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
	  <div class="container-full">
		<!-- Main content -->
		<section class="content">
			
			
				<div class="row">
				<div class="col-xl-4 col-lg-4 col-12">
					{% for rs in data %}
					<p class="label label-success btn-block mb-30"  alt="default" > Rank {{ rs.market_cap_rank }}</p>
					{% endfor %}
					{% for rs in data %}
				  <button class="btn btn-primary btn-block mb-30" type="button" alt="default" ><img width="30px" src="{{rs.image}}"> {{ rs.name }} ({{rs.symbol }})</button>
				  <div class="progress progress-sm active">
					<div class="progress-bar progress-bar-danger progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{ rs.current_price }}" aria-valuemin="0" aria-valuemax="{{ rs.ath}}" style="width: {{ rs.ath_change_percentage|add:100 }}%">
					<span class="sr-only">{{ rs.ath|add:100 }}%</span>
					</div>

				  </div>

				  <p>{{ rs.low_24h}}<span class=" pull-right">{{rs.ath}}</span></p>

				  {% endfor %}

				  
							

				  <div class="box">
					
					<div class="box-body no-padding mailbox-nav">
					  <ul class="nav nav-pills flex-column">
						<li class="nav-item"><a class="nav-link active" href="javascript:void(0)"><i class="fa fa-btc"></i> Price
						  <span class=" pull-right">{{ price }}</span></a></li>
						<li class="nav-item"><a class="nav-link" href="javascript:void(0)"><i class="ion ion-paper-airplane"></i> Market Cap <span class="l pull-right">${{ market_cap }}</span></a></li>
						<li class="nav-item"><a class="nav-link" href="javascript:void(0)"><i class="fa fa-area-chart"></i> 24hour Volume <span class=" pull-right">${{ hr_vol }}</span></a></li>
						<li class="nav-item"><a class="nav-link" href="javascript:void(0)"><i class="fa fa-hourglass-start"></i>  24hour Change <span class=" pull-right">${{ hr_chg }}</span></a>
						</li>
						{% for rs in data %}
						<li class="nav-item"><a class="nav-link" href="javascript:void(0)"><i class="fa fa-pie-chart"></i> Fully Diluted Valuation  <span class="pull-right">${{ rs.fully_diluted_valuation }}</span></a></li>
						{% endfor %}

						
					  </ul>
					</div>
					<!-- /.box-body -->
				  </div>
				  <!-- /. box -->
				  <div class="box">
					
					
					<!-- /.box-body -->
				  </div>
				  <!-- /.box -->
					
					
				</div>
			
				<!-- /.col -->
				<div class="col-xl-8 col-12">
				  <div class="box">
					<div class="box-body pt-10">
					  <div class="mailbox-read-info">
						<h4>Token Information</h4>
					  </div>
					  <div class="mailbox-read-info clearfix mb-20">
						
						<a href="https://twitter.com/metanyx" target="_blank">
						  <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-container="body" title="community">
							<i class="fa fa-twitter"> twitter</i></button>
						</a>
						<a href="https://t.me/MetanyxOfficial" target="_blank">
						  <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" data-container="body" title="community">
							<i class="fa fa-telegram"> telegram</i></button>
						</a>

						
					  </div>
					  <!-- /.mailbox-read-info -->
					  <div class="mailbox-controls with-border clearfix">                
						<div class="float-left"><a href="https://www.metanyx.com/" target="_blank">
						  <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" title="website">
						  <i class="fa fa-globe"> website</i></button>
						  </a>
						  
						  </a>
						  <a href="https://iotexscan.io/token/io1gafy2msqmmmqyhrhk4dg3ghc59cplyhekyyu26" target="_blank">
						  <button type="button" class="btn btn-primary btn-sm" data-toggle="tooltip" title="explorer">
						   iotexscan</button>
						  </a>
						</div>
						<div class="float-right">
						<div class="btn-group">
						
						
						
						</div>
						</div>
						<!-- /.btn-group -->

					  </div>
					  <!-- /.mailbox-controls -->
					  {% for rs in data %}
					  <div class="box-body no-padding mailbox-nav">
					  <ul class="nav nav-pills flex-column">
						<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-circle-o text-danger"></i> Total Supply  <span class=" pull-right">{{ rs.total_supply }}</span> </a></li>
						<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-circle-o text-warning"></i> Circulating Supply <span class=" pull-right">{{ rs.circulating_supply }}</span></a></li>
						<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-circle-o text-info"></i> All Time High <span class=" pull-right">{{ rs.ath }} <small style="color: red"> {{rs.ath_change_percentage}}%</small></span></a></li>
						<li class="nav-item"><a class="nav-link" href="#"><i class="fa fa-circle-o text-info"></i> All Time Low <span class=" pull-right">{{ rs.atl }} <small style="color: green"> {{rs.atl_change_percentage}}%</small></span></a></li>
					  </ul>
					</div>
					{% endfor %}
					  
					  <!-- /.mailbox-read-message -->
					</div>
					
					<!-- /.box-footer -->
					
					<!-- /.box-footer -->
				  </div>
				  <!-- /. box -->
				</div>
				<!-- /.col -->
			  </div>
				
			
				
			
							
					<div class="row">
						<div class="col-xl-8 col-12">
							<div class="row">						
								
								
								<div class="col-12">
									
									<div class="box">
										<div class="box-body py-10">
											<script src="https://widgets.coingecko.com/coingecko-coin-compare-chart-widget.js"></script><coingecko-coin-compare-chart-widget  coin-ids="metanyx" currency="usd" locale="en"></coingecko-coin-compare-chart-widget>
										</div>
									</div>
									<div class="box" style="margin-top:-60px">
										<p></p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-xl-4 col-12">
							<div class="box">
								{% for rs in image %}
								<a href="{{ rs.link }}" target="_blank">
								<div class="box-body">	
														
									<div id="calendar" class="dask evt-cal min-h-400">
										<img width="100%"  src="{{rs.image.url}}">
										<h5 >{{ rs.title}}</h5>
										<p>{{ rs.about_project }}</p>
									</div>
									
								</div>
								</a>
							</div>
							{% endfor %}
							
							
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /.content -->
	  </div>
  </div>
  <!-- /.content-wrapper -->


{% endblock %}